{% schema %}
{
  "name": "Custom Center Menu",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu"
    }
  ],
  "presets": [
    {
      "name": "Custom Center Menu"
    }
  ]
}
{% endschema %}

<div class="custom-menu-wrapper">
  <ul class="custom-menu">
    {% for link in section.settings.menu.links %}
      <li class="menu-item">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<style>
.custom-menu-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 28px;
}


.custom-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.custom-menu .menu-item a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease;
}

.custom-menu .menu-item a:hover {
  color: #000;
}
</style>